VITE_N8N_WEBHOOK_URL=http://localhost:5678/webhook/ocr-vendor
# VITE_N8N_WEBHOOK_URL=https://1354-2404-c0-a701-fae8-d4a7-3c25-57f8-df9b.ngrok-free.app/webhook-test/send-file
VITE_N8N_TELEGRAM_WEBHOOK_URL=http://localhost:5678/webhook/send-pdf-telegram
